In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("cardekho.csv")
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  7907 non-null   float64
 9   engine              7907 non-null   float64
 10  max_power           7913 non-null   object
 11  seats               7907 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

In [4]:
data.describe().round(2)

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,seats
count,8128.00,8128.00,8128.00,7907.00,7907.00,7907.00
mean,2013.80,638271.81,69819.51,19.42,1458.63,5.42
std,4.04,806253.40,56550.55,4.04,503.92,0.96
min,1983.00,29999.00,1.00,0.00,624.00,2.00
25%,2011.00,254999.00,35000.00,16.78,1197.00,5.00
50%,2015.00,450000.00,60000.00,19.30,1248.00,5.00
75%,2017.00,675000.00,98000.00,22.32,1582.00,5.00
max,2020.00,10000000.00,2360457.00,42.00,3604.00,14.00

In [4]:
# Data Preprocessing

In [5]:
data['max_power'] = pd.to_numeric(data['max_power'], errors='coerce')

In [6]:
data = data.drop(columns='seller_type')

In [7]:
data.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Manual,First Owner,16.10,1298.0,88.20,5.0

In [8]:
data.shape

(8128, 11)

In [9]:
data['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [6]:
# Encoding

In [10]:
data['owner'] = data['owner'].map({"First Owner":1, "Second Owner":2, "Third Owner":3, "Fourth Owner":4, "Test Drive Car":0.5})

In [11]:
data['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [12]:
data['fuel'] = data['fuel'].map({"Diesel":1, "Petrol":2, "CNG":3, "LPG":4})

In [13]:
data['transmission'].value_counts()

transmission
Manual       7078
Automatic    1050
Name: count, dtype: int64

In [14]:
data['transmission'] = data['transmission'].map({"Manual":1, "Automatic":2})

In [15]:
data.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,1,1,1.0,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,1,1,2.0,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,2,1,3.0,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,1,1,1.0,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,2,1,1.0,16.10,1298.0,88.20,5.0

In [16]:
data.isna().sum()

name                    0
year                    0
selling_price           0
km_driven               0
fuel                    0
transmission            0
owner                 174
mileage(km/ltr/kg)    221
engine                221
max_power             216
seats                 221
dtype: int64

In [17]:
data = data.dropna()

In [18]:
data.isna().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
dtype: int64

In [19]:
data.duplicated().sum()

1184

In [20]:
data = data.drop_duplicates()

In [21]:
data.duplicated().sum()

0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6562 entries, 0 to 8125
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                6562 non-null   object
 1   year                6562 non-null   int64
 2   selling_price       6562 non-null   int64
 3   km_driven           6562 non-null   int64
 4   fuel                6562 non-null   int64
 5   transmission        6562 non-null   int64
 6   owner               6562 non-null   float64
 7   mileage(km/ltr/kg)  6562 non-null   float64
 8   engine              6562 non-null   float64
 9   max_power           6562 non-null   float64
 10  seats               6562 non-null   float64
dtypes: float64(5), int64(5), object(1)
memory usage: 615.2+ KB

In [23]:
data

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,1,1,1.0,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,1,1,2.0,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,2,1,3.0,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,1,1,1.0,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,2,1,1.0,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8120,Hyundai Santro Xing GLS,2008,120000,191000,2,1,1.0,17.92,1086.0,62.10,5.0
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,2,1,2.0,18.90,998.0,67.10,5.0
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,1,1,2.0,22.54,1396.0,88.73,5.0
8123,Hyundai i20 Magna,2013,320000,110000,2,1,1.0,18.50,1197.0,82.85,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,1,1,1.0,19.30,1248.0,73.90,5.0

In [8]:
# Scaling

In [24]:
scale = data.loc[:, (data.columns != 'selling_price') & (data.columns != 'name')]

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
scaler = StandardScaler()

In [27]:
X_scale = scaler.fit_transform(scale)

In [28]:
colums = ['year', 'km_driven', 'fuel', 'transmission', 'owner', 
          'mileage(km/ltr/kg)', 'engine', 'max_power', 'seats']

In [29]:
X_scale = pd.DataFrame(X_scale, columns=colums, index=data.index)
X_scale

,year,km_driven,fuel,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,0.069515,1.241474,-0.869492,-0.308426,-0.694564,0.960337,-0.371679,-0.437939,-0.442677
1,0.069515,0.806974,-0.869492,-0.308426,0.892665,0.401273,0.136788,0.492245,-0.442677
2,-2.032606,1.147758,0.969840,-0.308426,2.479895,-0.449691,0.134755,-0.311898,-0.442677
3,-0.981545,0.926248,-0.869492,-0.308426,-0.694564,0.861387,-0.070666,0.066226,-0.442677
4,-1.769841,0.806974,0.969840,-0.308426,-0.694564,-0.845489,-0.269985,0.009507,-0.442677
...,...,...,...,...,...,...,...,...,...
8120,-1.507076,2.016759,0.969840,-0.308426,-0.694564,-0.395269,-0.701166,-0.812912,-0.442677
8121,-0.193250,-0.385773,0.969840,-0.308426,0.892665,-0.152843,-0.880146,-0.655361,-0.442677
8122,0.069515,0.125404,-0.869492,-0.308426,0.892665,0.747596,-0.070666,0.026208,-0.442677
8123,-0.193250,0.636581,0.969840,-0.308426,-0.694564,-0.251793,-0.475406,-0.159073,-0.442677
8125,-1.244310,0.806974,-0.869492,-0.308426,-0.694564,-0.053894,-0.371679,-0.441090,-0.442677

In [30]:
data_scale = data.copy()
data_scale[colums] = X_scale

In [31]:
data_scale

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,0.069515,450000,1.241474,-0.869492,-0.308426,-0.694564,0.960337,-0.371679,-0.437939,-0.442677
1,Skoda Rapid 1.5 TDI Ambition,0.069515,370000,0.806974,-0.869492,-0.308426,0.892665,0.401273,0.136788,0.492245,-0.442677
2,Honda City 2017-2020 EXi,-2.032606,158000,1.147758,0.969840,-0.308426,2.479895,-0.449691,0.134755,-0.311898,-0.442677
3,Hyundai i20 Sportz Diesel,-0.981545,225000,0.926248,-0.869492,-0.308426,-0.694564,0.861387,-0.070666,0.066226,-0.442677
4,Maruti Swift VXI BSIII,-1.769841,130000,0.806974,0.969840,-0.308426,-0.694564,-0.845489,-0.269985,0.009507,-0.442677
...,...,...,...,...,...,...,...,...,...,...,...
8120,Hyundai Santro Xing GLS,-1.507076,120000,2.016759,0.969840,-0.308426,-0.694564,-0.395269,-0.701166,-0.812912,-0.442677
8121,Maruti Wagon R VXI BS IV with ABS,-0.193250,260000,-0.385773,0.969840,-0.308426,0.892665,-0.152843,-0.880146,-0.655361,-0.442677
8122,Hyundai i20 Magna 1.4 CRDi,0.069515,475000,0.125404,-0.869492,-0.308426,0.892665,0.747596,-0.070666,0.026208,-0.442677
8123,Hyundai i20 Magna,-0.193250,320000,0.636581,0.969840,-0.308426,-0.694564,-0.251793,-0.475406,-0.159073,-0.442677
8125,Maruti Swift Dzire ZDi,-1.244310,382000,0.806974,-0.869492,-0.308426,-0.694564,-0.053894,-0.371679,-0.441090,-0.442677